
      <form [formGroup]="myForm">
        <div class = "tp-container">
          <mat-form-field  fxFlex>
            <input matInput placeholder="name" formControlName="name">
        </mat-form-field>

        <mat-form-field  fxFlex>
          <input matInput placeholder="email" formControlName="email">
      </mat-form-field>

      <mat-form-field  fxFlex>
        <input matInput placeholder="jobTitle" formControlName="jobTitle">
      </mat-form-field>

      <mat-form-field  fxFlex>
        <input matInput placeholder="phone" formControlName="phone">
      </mat-form-field>

      <mat-form-field  fxFlex>
        <input matInput placeholder="imageUrl" formControlName="imageUrl">
      </mat-form-field>
      </div>

      <button mat-raised-button color="primary" type="submit">Submit</button>
      </form>






