<mat-grid-list cols="3" rowHeight="600px">
  <mat-grid-tile *ngFor="let employee of employees">
    <div class="mat-card" style="text-align: center;">
      <div class="mat-card-header">
        <img src="{{employee.imageUrl}}" class="mat-card-md-image" alt=""/>
      </div>

      <div class="mat-card-content">
        <div>
          <h2 class="card-title">{{employee.name}}</h2>
        </div>
        <mat-divider></mat-divider>
        <div>
          <h3 class="card-text">{{employee.jobTitle}}</h3>
        </div>
        <div>
          <p class="card-text">{{employee.email}}</p>
        </div>
        <div>
          <p class="card-text">{{employee.phone}}</p>
        </div>
        <mat-divider></mat-divider>
        <div>
          <button mat-raised-button color="primary">Details</button>
        </div>
      </div>
    </div>


  </mat-grid-tile>
</mat-grid-list>


