<app-navbar></app-navbar>
<mat-grid-list [cols]="mybreakpoint"  (window:resize)="handleSize($event)" rowHeight="400px">
  <mat-grid-tile *ngFor="let employee of employees">
    <mat-card class="mat-card">
      <mat-card-header>
        <mat-card-title>
          <h2 class="card-title">{{ employee.name }}</h2>
        </mat-card-title>

        <mat-card-subtitle>
          <h3 class="card-text">{{ employee.jobTitle }}</h3>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content class="mat-card-content">
        <div style="text-align: center">
            <img
              src="{{ employee.imageUrl }}"
              class="mat-card-md-image"
              alt=""
            />
            <div>
              <p class="card-text">{{ employee.email }}</p>
            </div>
            <div>
              <p class="card-text">{{ employee.phone }}</p>
            </div>
        </div>
      </mat-card-content>
      <mat-card-actions style="text-align: center">
        <button mat-raised-button color="primary" (click)="openDialog()">
          edit
        </button>
        <button mat-raised-button color="warn">delete</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
